html, body { background: #1a1a1a; color: white }
legend { background: linear-gradient(to bottom, #1a1a1a, #262626); color: #00acfb }
h1, a { color: #008bcc }
.box { background: #262626; color: #eee }
input, select, textarea, button { color: #eee; border-color: #888 }
option { color: #000 }
nav > a:focus, nav > a:hover, button:focus, button:hover { background: #008bcc }
nav > a.active, nav > a:active { background: #009ce3 }

table, th, td { border-color: #888 !important }
.perk        { background: linear-gradient(to top, #1a1a1a, #333333, #1a1a1a) !important }
.perk.capped { background: linear-gradient(to top, #2F2F3F, #414158, #2F2F3F) !important }
.perk.adding { background: linear-gradient(to top, #194A19, #215f21, #194A19) !important }
.perk.remove { background: linear-gradient(to top, #691817, #922220, #691817) !important }
