* { box-sizing: border-box }
:focus { outline: none }
::-moz-focus-inner { border: 0 }
[title] { text-decoration: underline dotted; cursor: help }
button, [onclick] { cursor: pointer }
body { background: #EEF; color: #336; margin: 0; font: 1.1em/140% sans-serif }

legend { font-size: 1.3em; background: linear-gradient(#EEF, #FFF); color: #17F }
h1 { color: #04B; text-align: center; margin: 2ex 0 0 0 }
input[type=range], input[type=radio], input[type=checkbox] { position: relative; top: 3px }
label { display: block; margin: 1ex 0 }
input, select, textarea, button {
	background: inherit;
	width: 50%; margin: 0 0.25em; padding: 0.5ex 0.5em;
	border: 1px solid #CCC; border-radius: 0.5ex;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	transition: all ease-in-out .15s;
}
input:focus, textarea:focus { border-color: #17F; box-shadow: 0 0 3px #17F }
button { padding: 0.5ex 0; font-size: 1.4em; border-radius: 0.5ex }

button, nav { background-color: #17F; color: #EEE; border: 1px solid #04B }
button:focus, button:hover, nav>a:focus, nav>a:hover { background-color: #05D }
button:active, nav>a.active, nav>a:active { background-color: #04B }

nav { padding: 0 5%; border-width: 1px 0 }
nav>a { padding: 1ex 1em; font-size: 1.1em; flex-grow: 0.04; text-align: center }
nav>a { white-space: nowrap; color: inherit; text-decoration: none }

.box { background: #FFF; margin: 4ex auto; padding: 2ex 2em }
.box { border: 1px solid #17F; border-radius: 1ex; box-shadow: 2px 2px 6px -2px #17F }

.ok, .ko { padding: 1ex 1em; margin: 1em 2ex; border: 1px solid transparent; border-radius: 0.5ex }
.ok { background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d; fill: #3c763d }
.ko { background-color: #f2dede; border-color: #ebccd1; color: #a94442; fill: #a94442 }
.badge { display: inline-block; padding: 3px 7px; font-weight: 700; line-height: 1; color: #FFF; background-color: #777; margin-right: 1ex; border-radius: 1em }
.flexbox { width: 100%; margin: 0 auto; display: flex; flex-flow: row wrap }
.filler { flex-grow: 1 }
.centered { display: block; clear: both; margin: 0 auto }

.tabs { position: relative }
.tabs > label { cursor: pointer }
.tabs > [type=radio] { position: absolute; clip: rect(0, 0, 0, 0) }
.tabs > label + * { position: absolute }
.tabs > :not(:checked) + label + * { opacity: 0 }
